//  _____ ___  ____   ___
// |_   _/ _ \|  _ \ / _ \   _
//   | || | | | | | | | | | (_)
//   | || |_| | |_| | |_| |  _
//   |_| \___/|____/ \___/  (_)
//
// Finish header
// * Expand navigation for desktop view

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 28px 16px 0;
  .logo {
    width: 45px;
    height: 28px;
  }
  .nav {
    .nav-toggle {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      padding: 0;
    }
    .nav-links {
      display: none;
      list-style: none;
      // padding: 0;
      &.expanded {
        background-color: var(--almostwhite);
        display: block;
        position: fixed;
        bottom: 0;
        top: 0;
        right: 0;
        width: 256px;
        font-size: 18px;
        .nav-toggle {
          display: block;
          width: 100%;
          text-align: right;
          padding: 27px 21px 86px 0;
        }
        li {
          a {
            color: var(--darkspaceblue);
          }
          &:not(:last-of-type) {
            margin-bottom: 24px;
          }
        }
      }
    }
    li > a {
      color: var(--gunmetal);
      text-decoration: none;
    }
  }
}
