:root {
  // colors
  --almostwhite: rgb(255, 253, 250);
  --darkspaceblue: rgb(0, 0, 26);
  --gunmetal: rgb(94, 96, 122);
  --lightvermillion: rgb(241, 93, 81);
  --silver: rgb(197, 198, 206);
  --yellow: rgb(233, 170, 82);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: var(--almostwhite);
  font:
    400 normal 15px Inter,
    sans-serif;
}
