.target {
  background-color: rgba(255, 204, 0, 0.25);
}

body.dimmed:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  background-color: var(--darkspaceblue);
}
